/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/Background/Background.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Background_BackImg__p_X9Y {
  background-color: #202020;
  width: 100%;
  height: 25vw;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/_next/static/media/Background.6efd3a2b.jpeg);
  display: flex;
  justify-content: center;
}
.Background_BackImg__p_X9Y p {
  font-size: 1.5rem;
  text-align: center;
  margin: 0.625rem;
  color: #121212;
}

.Background_Logo__7u1Mp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}
.Background_Logo__7u1Mp img {
  width: 3.75rem;
  height: auto;
  margin: 0.625rem;
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.Background_Logo__7u1Mp p {
  font-size: 2.5rem;
  margin: 0;
  color: #121212;
}

.Background_Content__WiO7S {
  padding-top: 3.75rem;
}

.Background_RightSite__lpPNY {
  min-height: 5rem;
  width: 40rem;
  margin: 0.4375rem;
  margin-right: 0.3125rem;
  opacity: 0.6;
  background-color: #313131;
  border-radius: 0.5rem;
  filter: drop-shadow(-1px 2px 2px #121212);
  display: flex;
  align-items: center;
  justify-content: center;
}
.Background_RightSite__lpPNY input::placeholder {
  font-size: 1rem;
}
.Background_RightSite__lpPNY input {
  text-decoration: none;
  background-color: #313131;
  border: none;
  color: #ffffff;
  height: 1.5rem;
  width: 99%;
  margin: 0.1875rem;
}
.Background_RightSite__lpPNY input:focus {
  outline: none;
  box-shadow: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.Background_RightSite__lpPNY input:hover {
  opacity: 0.9;
}

.Background_RightSite__lpPNY input:focus {
  opacity: 0.9;
}

.Background_Send__fhnCE {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  margin: 0.9375rem;
  width: 15%;
  background-color: #ffffff;
  opacity: 0.6;
  border-radius: 1rem;
}
.Background_Send__fhnCE img {
  width: 1rem;
  height: auto;
  margin: 0.25rem;
}
.Background_Send__fhnCE p {
  color: #121212;
}

@media (max-width: 768px) {
  .Background_Content__WiO7S {
    padding-top: 2.5rem;
  }
  .Background_Logo__7u1Mp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
  }
  .Background_Logo__7u1Mp img {
    width: 2.5rem;
    height: auto;
    margin: 0.4166666667rem;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
  .Background_Logo__7u1Mp p {
    font-size: 1.875rem;
    margin: 0;
    color: #121212;
  }
}
@media (max-width: 525px) and (max-width: 768px) {
  .Background_Content__WiO7S {
    padding-top: 1.25rem;
  }
  .Background_Logo__7u1Mp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
  }
  .Background_Logo__7u1Mp img {
    width: 1.25rem;
    height: auto;
    margin: 0.2083333333rem;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
  .Background_Logo__7u1Mp p {
    font-size: 1.875rem;
    margin: 0;
    color: #121212;
  }
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/SearchImgBoard/ImgBoard.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.ImgBoard_Shadow__pHd5q {
  width: 100%;
  height: 2px;
  background-color: #202020;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.7098039216));
}

.ImgBoard_MidBar__MbFB3 {
  width: 100%;
  height: 2rem;
  background-color: #313131;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: #202020;
  border-style: solid;
  border-width: 0;
  filter: drop-shadow(0 0px 2px rgba(0, 0, 0, 0.7098039216));
  border-bottom-width: 3px;
}
.ImgBoard_MidBar__MbFB3 p {
  color: #ffffff;
  margin: 0.5rem;
  font-size: 1rem;
}

.ImgBoard_Active__PNZta {
  opacity: 1;
  text-decoration: underline solid #ffffff;
  text-underline-offset: 0.25rem;
  text-decoration-thickness: 0.1rem;
}

.ImgBoard_Passive__R9pj9 {
  opacity: 0.6;
}

.ImgBoard_ImgBoard__QXgSG {
  background-color: var(--bleck);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.ImgBoard_ImgBoard__QXgSG img {
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  float: left;
  overflow: hidden;
}

.ImgBoard_MidBar__MbFB3 p:hover {
  opacity: 1;
}

.ImgBoard_ArtPreview__vW3ur {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}
.ImgBoard_ArtPreview__vW3ur img {
  border-radius: 1%;
  width: 99%;
  height: 99%;
  margin: 0.5%;
}
.ImgBoard_ArtPreview__vW3ur .ImgBoard_Title__EW9cw {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  color: #ffffff;
  font-size: 0.75rem;
  margin: 0;
  opacity: 0;
  transition: 0.1s all;
  width: 100%;
  height: 20%;
  background: url(/_next/static/media/fade.bb27c534.png) bottom center repeat;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ImgBoard_ArtPreview__vW3ur:hover .ImgBoard_Title__EW9cw {
  font-size: 1.5rem;
  opacity: 0.75;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/ImgBoard/ImgBoard.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.ImgBoard_Shadow__lOFno {
  width: 100%;
  height: 2px;
  background-color: #202020;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.7098039216));
}

.ImgBoard_MidBar__JrIKZ {
  width: 100%;
  height: 2rem;
  background-color: #313131;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: #202020;
  border-style: solid;
  border-width: 0;
  filter: drop-shadow(0 0px 2px rgba(0, 0, 0, 0.7098039216));
  border-bottom-width: 3px;
}
.ImgBoard_MidBar__JrIKZ p {
  color: #ffffff;
  margin: 0.5rem;
  font-size: 1rem;
}

.ImgBoard_Active__QjM2d {
  opacity: 1;
  text-decoration: underline solid #ffffff;
  text-underline-offset: 0.25rem;
  text-decoration-thickness: 0.1rem;
}

.ImgBoard_Passive__xu8VT {
  opacity: 0.6;
}

.ImgBoard_ImgBoard__4ydrX {
  background-color: var(--bleck);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.ImgBoard_ImgBoard__4ydrX img {
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  float: left;
  overflow: hidden;
}

.ImgBoard_MidBar__JrIKZ p:hover {
  opacity: 1;
}

.ImgBoard_ArtPreview__GCOqN {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}
.ImgBoard_ArtPreview__GCOqN img {
  border-radius: 1%;
  width: 99%;
  height: 99%;
  margin: 0.5%;
}
.ImgBoard_ArtPreview__GCOqN .ImgBoard_Title__JIjw_ {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  color: #ffffff;
  font-size: 0.75rem;
  margin: 0;
  opacity: 0;
  transition: 0.1s all;
  width: 100%;
  height: 20%;
  background: url(/_next/static/media/fade.bb27c534.png) bottom center repeat;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ImgBoard_ArtPreview__GCOqN:hover .ImgBoard_Title__JIjw_ {
  font-size: 1.5rem;
  opacity: 0.75;
}

@media (max-width: 768px) {
  .ImgBoard_ImgBoard__4ydrX {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 525px) and (max-width: 768px) {
  .ImgBoard_ImgBoard__4ydrX {
    grid-template-columns: repeat(2, 1fr);
  }
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/NavButton/NavButton.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.NavButton_NavButton__PHpj5 {
  width: 2.5rem;
  height: 2.5rem;
  opacity: 0.5;
  position: fixed;
  top: 90vh;
  left: 95%;
  z-index: 999;
}
.NavButton_NavButton__PHpj5 img {
  width: 100%;
  height: 100%;
}

.NavButton_NavButton__PHpj5:hover {
  opacity: 1;
}
