/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/UpLoadForm/UpLoadForm.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.UpLoadForm_UpLoadForm___ymQo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.UpLoadForm_Tegs__hwpFI {
  display: flex;
  justify-content: left;
  align-items: center;
  max-width: 100%;
  flex-wrap: wrap;
}
.UpLoadForm_Tegs__hwpFI .UpLoadForm_Teg__FpLM0 {
  background-color: #313131;
  height: 1.5rem;
  width: auto;
  padding: 2%;
  color: #ffffff;
  border-radius: 0.5rem;
  opacity: 0.6;
  margin-right: 0.25rem;
  margin-left: 0.25rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  box-sizing: border-box;
}
.UpLoadForm_Tegs__hwpFI .UpLoadForm_Teg__FpLM0 .UpLoadForm_delete__bKUFb {
  background-image: url(/_next/static/media/ArrowWhite.7c4bd42d.png);
  background-repeat: no-repeat;
  min-height: 1.25rem;
  width: auto;
}

.UpLoadForm_Teg__FpLM0:hover {
  background-color: #202020;
  color: #ffffff;
  border-style: solid;
  border-color: #ffffff;
}

.UpLoadForm_Button__S0ihN {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #121212;
  font-size: 1.25rem;
  height: 2.5rem;
  width: 10rem;
  margin: 0.625rem;
  margin-top: 0.875rem;
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 1rem;
  opacity: 0.6;
  filter: drop-shadow(-1px 2px 2px #121212);
}

.UpLoadForm_Button__S0ihN:hover {
  background-color: #202020;
  color: #ffffff;
  border-style: solid;
  border-color: #ffffff;
}

.UpLoadForm_ButtonPress___k_G7 {
  background-color: #202020;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border-style: solid;
  border-color: #ffffff;
  font-size: 1.25rem;
  height: 2.5rem;
  width: 10rem;
  margin: 0.625rem;
  margin-top: 0.875rem;
  box-sizing: border-box;
  border-radius: 1rem;
  opacity: 0.6;
  filter: drop-shadow(-1px 2px 2px #121212);
}

.UpLoadForm_ButtonPress___k_G7 :hover {
  color: #121212;
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 1rem;
  opacity: 0.6;
}

.UpLoadForm_UpButton__vxnmy {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #121212;
  font-size: 1.25rem;
  height: 3.75rem;
  width: 15rem;
  margin-top: 1.25rem;
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 1rem;
  opacity: 0.6;
  filter: drop-shadow(-1px 2px 2px #121212);
}

.UpLoadForm_UpButton__vxnmy:hover {
  background-color: #202020;
  color: #ffffff;
  border-style: solid;
  border-color: #ffffff;
}

.UpLoadForm_Conteiner__5OILZ {
  background-color: #202020;
  width: 40%;
  min-height: 6.25rem;
  padding-bottom: 0.25%;
  margin: 0;
  margin-top: 1.25rem;
  border-radius: 0.5rem;
  border-color: #121212;
  border-style: solid;
  box-sizing: border-box;
  border-width: 0;
  filter: drop-shadow(0 0px 2px rgba(0, 0, 0, 0.7098039216));
  border-bottom-width: 3px;
}
.UpLoadForm_Conteiner__5OILZ div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.UpLoadForm_Conteiner__5OILZ div img {
  margin-top: 0.875rem;
  border-radius: 0.5rem;
  width: 80%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.UpLoadForm_Conteiner__5OILZ p {
  margin: 0;
}

.UpLoadForm_ConteinerTop__1pwA_ {
  background-color: #313131;
  height: 3.125rem;
  border-radius: 0.5rem;
  filter: drop-shadow(-1px 2px 2px #121212);
  font-size: 1.5rem;
  padding-left: 1.5%;
}
.UpLoadForm_ConteinerTop__1pwA_ p {
  opacity: 0.6;
}

.UpLoadForm_ConteinerInside__QCRaj {
  min-height: 2.5rem;
  margin: 0.625rem;
  margin-top: 0.875rem;
  opacity: 0.6;
  background-color: #313131;
  border-radius: 0.5rem;
  filter: drop-shadow(-1px 2px 2px #121212);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.UpLoadForm_ConteinerInside__QCRaj input::placeholder {
  font-size: 1rem;
}
.UpLoadForm_ConteinerInside__QCRaj input {
  text-decoration: none;
  background-color: #313131;
  border: none;
  color: #ffffff;
  height: 1.5rem;
  width: 99%;
  margin: 0.1875rem;
}

.UpLoadForm_ConteinerInside__QCRaj input:focus {
  outline: none;
  box-shadow: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.UpLoadForm_Hide__o2_5v {
  width: 0;
  height: 0;
  opacity: 0;
}

.UpLoadForm_Link__Nhds2 {
  color: #ffffff;
  text-decoration: none;
}
