/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/SignIn/SignIn.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.SignIn_SignIn__8lJcZ {
  display: flex;
}

.SignIn_Background__3CkYe {
  background-image: url("/Background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 70vw;
}

.SignIn_RightSite__frtN_ {
  width: 30vw;
  min-height: 100vh;
  background-color: #202020;
  color: #ffffff;
  filter: drop-shadow(-2px 2px 2px #121212);
}

.SignIn_centr__fP0sr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55%;
  height: 3.75rem;
  margin: auto;
}
.SignIn_centr__fP0sr p {
  font-size: 1.875rem;
  margin: 0;
}

.SignIn_Active__JqKUA {
  opacity: 1;
  text-decoration: underline solid #ffffff;
  text-underline-offset: 0.5rem;
  text-decoration-thickness: 0.1666666667rem;
}

.SignIn_Passive__9asnn {
  opacity: 0.6;
}

.SignIn_centr__fP0sr p:hover {
  opacity: 1;
}

.SignIn_SignInInput__2iTjp {
  width: 85%;
  display: flex;
  height: 3.125rem;
  background-color: #121212;
  border-radius: 0.5rem;
  margin: 7.5%;
  margin-bottom: 3.75%;
  margin-top: 3.75%;
  opacity: 0.6;
  align-items: center;
}
.SignIn_SignInInput__2iTjp input {
  height: 75%;
  margin-left: 1.25rem;
  text-decoration: none;
  background-color: #121212;
  border: none;
  color: #ffffff;
}

.SignIn_Button__4Y8hJ {
  width: 85%;
  height: 3.125rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  margin: 7.5%;
  margin-top: 3.75%;
  margin-bottom: 3.75%;
  opacity: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.SignIn_Button__4Y8hJ p {
  font-size: 1.625rem;
  color: #121212;
}

.SignIn_Button__4Y8hJ:hover {
  background-color: #202020;
  color: #ffffff;
  border-style: solid;
  border-color: #ffffff;
  box-sizing: border-box;
}
.SignIn_Button__4Y8hJ:hover p {
  color: #ffffff;
}

.SignIn_delitel__79qje {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 85%;
  height: 1.5625rem;
  opacity: 0.6;
  margin: auto;
}
.SignIn_delitel__79qje div {
  width: 45%;
  height: 2px;
  background-color: #ffffff;
}

.SignIn_hidden__Oe46x {
  display: none;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/GoogleButton/GoogleButton.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.GoogleButton_Button__brRe0 {
  width: 85%;
  height: 2.5rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  margin: 7.5%;
  margin-top: 3.75%;
  margin-bottom: 3.75%;
  opacity: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #121212;
}
.GoogleButton_Button__brRe0 p {
  font-size: 1.625rem;
  color: #121212;
}

.GoogleButton_Button__brRe0:hover {
  background-color: #202020;
  color: #ffffff;
  border-style: solid;
  border-color: #ffffff;
  box-sizing: border-box;
}
.GoogleButton_Button__brRe0:hover p {
  color: #ffffff;
}
