/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/app/Styles.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Styles_html__9XnlN {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.Styles_root___dGI_ {
  margin: 0;
  padding: 0;
}

.Styles_body__s_SWH {
  min-height: 100lvh;
  margin: 0;
  padding: 0;
  background-color: #121212;
  display: flex;
  flex-direction: column;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/Footer/Footer.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Footer_Footer__z0Ikr {
  z-index: 111;
  background-color: #313131;
  border-top: #202020 3px;
  border-top-style: solid;
  box-sizing: border-box;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  color: #ffffff;
  margin-top: auto;
  align-self: flex-end;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/Header/Header.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Header_Empty__eGTWJ {
  width: 100%;
  height: calc(2.5rem + 2px);
  background-color: #121212;
}

.Header_Header__xIKfd {
  width: 100%;
  height: 2.5rem;
  background-color: #313131;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 999;
  top: 0px;
  border-color: #202020;
  border-style: solid;
  border-width: 0;
  filter: drop-shadow(0 0px 2px rgba(0, 0, 0, 0.7098039216));
  border-bottom-width: 3px;
}

.Header_Logo__liZau {
  display: flex;
  justify-content: center;
  width: auto;
  opacity: 0.85;
  text-decoration: none;
}
.Header_Logo__liZau img {
  width: 1.875rem;
  height: auto;
  margin: 0.3125rem;
  transition: 0.2s all;
}
.Header_Logo__liZau p {
  font-size: 1.5rem;
  margin: auto;
  color: #ffffff;
}

.Header_Shadow__dkpPf {
  width: 100%;
  height: calc(2.5rem + 2px);
  background-color: #202020;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.7098039216));
}

.Header_RightSite__P3Z4Q {
  display: flex;
  justify-content: center;
}
.Header_RightSite__P3Z4Q input {
  height: 1.625rem;
  width: 15rem;
  margin: 0.4375rem;
  margin-right: 0.3125rem;
  border-radius: 1.25rem;
  background-color: #4a4a4a;
  border-color: #4a4a4a;
  text-decoration: none;
  outline: #121212;
  color: #ffffff;
  padding: 0 1.25rem;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.7098039216));
  border: 1px;
  opacity: 0.6;
  background-image: url(/_next/static/media/search_White.ad2d5f5f.png);
  background-repeat: no-repeat;
  text-indent: 3%;
  background-size: 1.375rem;
  background-position: 2% center;
}

.Header_ImgButton__84UJ_ img {
  width: 1.875rem;
  height: auto;
  margin: 0.3125rem;
  transition: 0.2s all;
  opacity: 0.6;
}

.Header_a__cFXEk {
  color: #ffffff;
  text-decoration: none;
}

.Header_Logo__liZau:hover {
  opacity: 1;
}
.Header_Logo__liZau:hover img {
  width: 2.125rem;
  margin: 0.1875rem;
}

.Header_ImgButton__84UJ_:hover img {
  width: 2.25rem;
  margin: 0.125rem;
  opacity: 1;
}

.Header_ImgButtonClick__QTnvj img {
  width: 2.25rem;
  margin: 0.125rem;
  opacity: 1;
}

.Header_RightSite__P3Z4Q input:hover {
  opacity: 0.9;
}

.Header_RightSite__P3Z4Q input:focus {
  opacity: 0.9;
}

@media (max-width: 768px) {
  .Header_RightSite__P3Z4Q input {
    width: 10rem;
  }
}
@media (max-width: 525px) and (max-width: 768px) {
  .Header_RightSite__P3Z4Q input {
    width: 7.5rem;
  }
  .Header_Header__xIKfd p {
    display: none;
    opacity: 0;
    width: 0px;
  }
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/ImgPlusText/IPT.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.IPT_IPT__HR0Za {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  color: #ffffff;
  text-decoration: none;
  opacity: 0.6;
}
.IPT_IPT__HR0Za img {
  width: 1.875rem;
  height: auto;
  margin: 0.3125rem;
  transition: 0.2s all;
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.IPT_IPT__HR0Za p {
  margin: auto;
  margin-right: 0.3125rem;
}
.IPT_IPT__HR0Za .IPT_a__n8EsW {
  color: #ffffff;
  text-decoration: none;
}

.IPT_IPT__HR0Za:hover {
  opacity: 1;
}
.IPT_IPT__HR0Za:hover img {
  width: 2.25rem;
  margin: 0.125rem;
}

.IPT_IPT_L__zpb_0 {
  display: flex;
  justify-content: center;
  font-size: 1.875rem;
  color: #ffffff;
  text-decoration: none;
  opacity: 0.6;
}
.IPT_IPT_L__zpb_0 img {
  width: 2.34375rem;
  height: auto;
  margin: 0.390625rem;
  transition: 0.2s all;
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.IPT_IPT_L__zpb_0 p {
  margin: auto;
  margin-right: 0.390625rem;
}
.IPT_IPT_L__zpb_0 .IPT_a__n8EsW {
  color: #ffffff;
  text-decoration: none;
}

.IPT_IPT_L__zpb_0:hover {
  opacity: 1;
}
.IPT_IPT_L__zpb_0:hover img {
  width: 2.8125rem;
  margin: 0.15625rem;
}

.IPT_IPT_S__c8oCn {
  display: flex;
  justify-content: center;
  font-size: 1.125rem;
  color: #ffffff;
  text-decoration: none;
  opacity: 0.6;
}
.IPT_IPT_S__c8oCn img {
  width: 1.40625rem;
  height: auto;
  margin: 0.234375rem;
  transition: 0.2s all;
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.IPT_IPT_S__c8oCn p {
  margin: auto;
  margin-right: 0.234375rem;
}
.IPT_IPT_S__c8oCn .IPT_a__n8EsW {
  color: #ffffff;
  text-decoration: none;
}

.IPT_IPT_S__c8oCn:hover {
  opacity: 1;
}
.IPT_IPT_S__c8oCn:hover img {
  width: 1.6875rem;
  margin: 0.09375rem;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/SignInMenu/SignInMenu.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.SignInMenu_Menu__LQxnu {
  text-decoration: none;
  color: #ffffff;
  background-color: #313131;
  width: 10vw;
  min-height: 5rem;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
  border-radius: 0.5rem;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.7098039216));
  padding-top: calc(2.5rem + 2px);
  border-color: #202020;
  border-style: solid;
  box-sizing: border-box;
  border-width: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SignInMenu_a__1WitJ {
  all: unset;
  text-decoration: none;
}

.SignInMenu_Link__IL6UV {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.25rem;
}

.SignInMenu_delitel__QwIbP {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 85%;
  height: 1.5625rem;
  opacity: 0.6;
  margin: auto;
}
.SignInMenu_delitel__QwIbP div {
  width: 45%;
  height: 2px;
  background-color: #ffffff;
}
.SignInMenu_delitel__QwIbP p {
  margin: auto;
}

.SignInMenu_Button__O94UL {
  width: 85%;
  height: 2.5rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  margin: 7.5%;
  margin-top: 3.75%;
  margin-bottom: 3.75%;
  opacity: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #121212;
}
.SignInMenu_Button__O94UL p {
  font-size: 1.625rem;
  color: #121212;
}

.SignInMenu_Button__O94UL:hover {
  background-color: #202020;
  color: #ffffff;
  border-style: solid;
  border-color: #ffffff;
  box-sizing: border-box;
}
.SignInMenu_Button__O94UL:hover p {
  color: #ffffff;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/UserMenu/UserMenu.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.UserMenu_Menu__PaQbu {
  text-decoration: none;
  color: #ffffff;
  background-color: #313131;
  width: 10vw;
  min-height: 7.5rem;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
  border-radius: 0.5rem;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.7098039216));
  padding-top: calc(2.5rem + 2px);
  border-color: #202020;
  border-style: solid;
  box-sizing: border-box;
  border-width: 3px;
}

.UserMenu_a__7JF_M {
  all: unset;
  text-decoration: none;
}

.UserMenu_Link__OKTda {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.25rem;
}

.UserMenu_delitel__JwihO {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 85%;
  height: 1.5625rem;
  opacity: 0.6;
  margin: auto;
}
.UserMenu_delitel__JwihO div {
  width: 45%;
  height: 2px;
  background-color: #ffffff;
}
.UserMenu_delitel__JwihO p {
  margin: auto;
}
