$black: #121212;
$grafit: #313131;
$lightGrafit: #4a4a4a;
$darkGrafit: #202020;
$white: #ffffff;
$op: 0.6;
$hightTotBar: 2.5rem;


.Menu {
    text-decoration: none;
    color: $white;
    background-color: $grafit;
    // opacity: $op;
    width: 10vw;
    min-height: $hightTotBar*3;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    border-radius: calc($hightTotBar/5);
    filter: drop-shadow(0 2px 4px #000000b5);
    padding-top: calc($hightTotBar + 2px);
    border-color: $darkGrafit;
    border-style: solid;
    box-sizing: border-box;
    border-width: 3px;
}
.a { 
    all: unset;
    text-decoration: none;
}
.Link {
    text-decoration: none;
    color: $white;
    font-size: $hightTotBar/2;
}
.delitel {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 85%;
    height: calc($hightTotBar*1.25/2);
    opacity: $op;
    margin: auto;
    div {
        width: 45%;
        height: 2px;
        background-color: $white;
    }
    p{
        margin: auto;
    }
}