$black: #121212;
$grafit: #313131;
$lightGrafit: #4a4a4a;
$darkGrafit: #202020;
$white: #ffffff;
$op: 0.6;
$hightTotBar: 2.5rem;

.Art {
    display: flex;
    justify-content: right;
}

.ArtImg {
    position: fixed;
    z-index: 0;
    top: $hightTotBar;
    left: 0px;
    display: flex;
    justify-content: center;
    background-color: $black;
    width: 70vw;
    height: 95vh;

    img {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
}

.test {
    color: #ffffff;
}

.ArtInfo {
    z-index: 10;

    width: 30%;
    min-height: calc(100vh - $hightTotBar);
    background-color: $darkGrafit;
    color: $white;
    filter: drop-shadow(-2px 2px 2px $black);

    img {
        // aspect-ratio: 1 / 1;
        // width: 90%;
        // height: auto;
        width: $hightTotBar;
        height: $hightTotBar;
        margin: calc($hightTotBar*0.25/2);
    }

}

.AuthorInfo {
    background-color: $grafit;
    width: 97%;
    height: calc($hightTotBar*1.25);
    margin: 1.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: calc($hightTotBar/5);
    filter: drop-shadow(-1px 2px 2px $black);
    text-decoration: none;

}

.Button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $black;
    font-size: calc($hightTotBar*0.5);
    height: 60%;
    width: 35%;
    margin: calc($hightTotBar*1.25*0.3/2);
    background-color: $white;
    box-sizing: border-box;
    border-radius: calc($hightTotBar/2.5);
    opacity: $op;
    filter: drop-shadow(-1px 2px 2px $black);
}

.Button:hover {
    background-color: $darkGrafit;
    color: $white;
    border-style: solid;
    border-color: $white;

}

.IPT {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: 100%;
    font-size: calc($hightTotBar*0.8);
    opacity: $op;
}

.Tegs {
    display: flex;
    justify-content: left;
    align-items: center;
    max-width: 100%;

    .Teg {
        background-color: $darkGrafit;
        height: $hightTotBar*0.6;
        width: auto;
        padding-left: $hightTotBar*0.3;
        padding-right: $hightTotBar*0.3;
        color: $white;
        border-radius: $hightTotBar*0.15;
        margin-right: $hightTotBar*0.2;
    }
}

.Conteiner {
    background-color: $grafit;
    width: 97%;
    min-height: calc($hightTotBar*1.25*2);
    padding-bottom: 0.25%;
    margin: 1.5%;
    border-radius: calc($hightTotBar/5);
    filter: drop-shadow(-1px 2px 2px $black);

    p {
        margin: 0;
    }

}

// #Author {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
// }

.ConteinerTop {
    display: flex;
    align-items: center;
    // justify-content: center;
    background-color: $grafit;
    // width: 100%;
    height: calc($hightTotBar*1.25);
    border-radius: calc($hightTotBar/5);
    filter: drop-shadow(-1px 2px 2px $black);
    font-size: calc($hightTotBar*0.6);
    padding-left: 1.5%;
    word-wrap: break-word;
    white-space: normal;


    p {
        opacity: $op;
    }

}

.ConteinerInside {
    // width: 97%;
    // min-height: calc($hightTotBar*1.25*2);
    height: auto;
    // margin: 1.5%;
    padding: 1.5%;
    opacity: $op;

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            aspect-ratio: 1 / 1;
            width: calc($hightTotBar*1.25/2);
            height: auto;
            margin-left: 0;
        }
    }
}

.ConteinerInsideArtTitle {
    // width: 97%;
    // min-height: calc($hightTotBar*1.25*2);
    height: auto;
    // margin: 1.5%;
    padding: 1.5%;

    // opacity: $op;
    .Active {
        opacity: 1;
    }

    .Passive {
        opacity: $op;
    }

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            aspect-ratio: 1 / 1;
            width: calc($hightTotBar*1.25/2);
            height: auto;
            margin-left: 0;
        }
    }
}

.ConteinerTopCenter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // justify-content: center;
    background-color: $grafit;
    // width: 100%;
    height: calc($hightTotBar*1.25);
    border-radius: calc($hightTotBar/5);
    filter: drop-shadow(-1px 2px 2px $black);
    font-size: calc($hightTotBar*0.6);
    padding-left: 1.5%;
    padding-right: 1.5%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;

    p {
        font-size: calc($hightTotBar*0.6*0.75);
        opacity: $op;
    }

    text {
        opacity: $op;
    }
}

.Comment {
    background-color: $darkGrafit;
    width: 97%;
    min-height: calc($hightTotBar*1.25*2);
    padding-bottom: 0.25%;
    margin: 1.5%;
    border-radius: calc($hightTotBar/5);
    filter: drop-shadow(-1px 2px 2px $black);

    p {
        margin: 0;
    }

}

.CommentTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $darkGrafit;
    // width: 100%;
    height: calc($hightTotBar*1.25);
    border-radius: calc($hightTotBar/5);
    filter: drop-shadow(-1px 2px 2px $black);
    font-size: calc($hightTotBar*0.6);
    padding-left: 1.5%;
    padding-right: 1.5%;

    p {
        // font-size: $hightTotBar/2;
        opacity: $op;
    }

    .time {
        font-size: $hightTotBar/3;

    }
}

.CommentInside {
    height: auto;
    padding: 3.5%;
    opacity: $op;
    word-wrap: break-word;
    white-space: normal;
}

.Comments {
    align-items: center;

}

.CommentInput input:focus {
    outline: none;
    box-shadow: none;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.CommentInput {
    background-color: $darkGrafit;
    align-items: center;
    width: 97%;
    min-height: calc($hightTotBar*0.75);
    margin: 1.5%;
    display: flex;
    justify-content: space-between;
    border-radius: calc($hightTotBar/5);
    filter: drop-shadow(-1px 2px 2px $black);

    input {
        text-decoration: none;
        background-color: $darkGrafit;
        border: none;
        color: $white;
        height: calc($hightTotBar*0.75*0.8);
        width: 85%;
        margin: calc($hightTotBar*(0.75 - 0.75 * 0.8)/2);
    }

    img {
        width: calc($hightTotBar)*0.5625;
        height: auto;
        margin: calc($hightTotBar)*0.1875/2;
        transition: 0.2s all;
        border-radius: 50%;
        opacity: $op;
    }

    .Send {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc($hightTotBar*0.75*0.75);
        margin: calc($hightTotBar*(0.75 - 0.75 * 0.75)/2);
        width: 15%;
        background-color: $white;
        opacity: $op;
        border-radius: calc($hightTotBar/2.5);


        img {
            width: calc($hightTotBar)*0.4;
            height: auto;
            margin: calc($hightTotBar)*0.2/2;
            // transition: 0.2s all;
            // border-radius: 50%;
        }

        p {
            color: $black;
        }
    }

    .arrow {
        width: calc($hightTotBar)*0.4;
        height: calc($hightTotBar)*0.4;
        margin: calc($hightTotBar)*0.2/2;
        background-image: url("/Send_Black.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.Send:hover {
    background-color: $darkGrafit;
    color: $white;
    border-style: solid;
    border-color: $white;
    box-sizing: border-box;

    p {
        color: $white;
    }

    .arrow {
        background-image: url("/Send_White.png");
    }
}

.Link {
    color: #ffffff;
    text-decoration: none;
}


@media (max-width: 850px) {
    .Art {
        display: block;
        height: auto;
    }

    .ArtImg {
        position: relative;
        width: 100%;
        height: auto;
    }

    .ArtInfo {
        padding-top: 2px;
        width: 100%;
        height: auto;
    }
}


@media (max-width: 525px)and (max-width: 850px) {
    .Art {
        display: block;
    }
    .ArtImg {
        position: relative;
        width: 100%;
        height: auto;
    }
    .ArtInfo {
        padding-top: 1px;
        width: 100%;
        height: auto;
    }
}