$black: #121212;
$grafit: #313131;
$lightGrafit: #4a4a4a;
$darkGrafit: #202020;
$white: #ffffff;
$op: 0.5;
$hightTotBar: 2.5rem;


.NavButton {
    width: $hightTotBar;
    height: $hightTotBar;
    position: fixed;
    opacity: $op;
    position: fixed;
    top: 90vh;
    left: 95%;
    z-index: 5;
    img {
        width: 100%;
        height: 100%;
    }
}
.NavButton:hover {
    opacity: 1;
}