/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/Art/Art.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Art_Art__iou5V {
  display: flex;
  justify-content: space-between;
}

.Art_ArtImg__XEA60 {
  display: flex;
  justify-content: center;
  background-color: #121212;
  width: 70vw;
  height: 95vh;
}
.Art_ArtImg__XEA60 img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.Art_test__eMms3 {
  color: #ffffff;
}

.Art_ArtInfo__lIHZr {
  width: 30%;
  min-height: 100%;
  background-color: #202020;
  color: #ffffff;
  filter: drop-shadow(-2px 2px 2px #121212);
}
.Art_ArtInfo__lIHZr img {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.3125rem;
}

.Art_AuthorInfo___WJ26 {
  background-color: #313131;
  width: 97%;
  height: 3.125rem;
  margin: 1.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5rem;
  filter: drop-shadow(-1px 2px 2px #121212);
  text-decoration: none;
}

.Art_Button__ejgaU {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #121212;
  font-size: 1.25rem;
  height: 60%;
  width: 35%;
  margin: 0.46875rem;
  background-color: #ffffff;
  border-radius: 1rem;
  opacity: 0.6;
  filter: drop-shadow(-1px 2px 2px #121212);
}

.Art_Button__ejgaU:hover {
  background-color: #202020;
  color: #ffffff;
  border-style: solid;
  border-color: #ffffff;
}

.Art_IPT__NmTl6 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  height: 100%;
  font-size: 2rem;
  opacity: 0.6;
}

.Art_Conteiner__JjwgS {
  background-color: #313131;
  width: 97%;
  min-height: 6.25rem;
  padding-bottom: 0.25%;
  margin: 1.5%;
  border-radius: 0.5rem;
  filter: drop-shadow(-1px 2px 2px #121212);
}
.Art_Conteiner__JjwgS p {
  margin: 0;
}

.Art_ConteinerTop__RqCEk {
  display: flex;
  align-items: center;
  background-color: #313131;
  height: 3.125rem;
  border-radius: 0.5rem;
  filter: drop-shadow(-1px 2px 2px #121212);
  font-size: 1.5rem;
  padding-left: 1.5%;
}
.Art_ConteinerTop__RqCEk p {
  opacity: 0.6;
}

.Art_ConteinerInside__wXQZe {
  height: auto;
  padding: 1.5%;
  opacity: 0.6;
}
.Art_ConteinerInside__wXQZe div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Art_ConteinerInside__wXQZe div img {
  aspect-ratio: 1/1;
  width: 1.5625rem;
  height: auto;
  margin-left: 0;
}

.Art_ConteinerTopCenter__YvxfT {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #313131;
  height: 3.125rem;
  border-radius: 0.5rem;
  filter: drop-shadow(-1px 2px 2px #121212);
  font-size: 1.5rem;
  padding-left: 1.5%;
  padding-right: 1.5%;
}
.Art_ConteinerTopCenter__YvxfT p {
  font-size: 1.125rem;
  opacity: 0.6;
}
.Art_ConteinerTopCenter__YvxfT text {
  opacity: 0.6;
}

.Art_Comments__pEhME {
  align-items: center;
}

.Art_CommentInput__3ddsP {
  background-color: #202020;
  align-items: center;
  width: 97%;
  min-height: 1.875rem;
  margin: 1.5%;
  display: flex;
  justify-content: space-between;
  border-radius: 0.5rem;
  filter: drop-shadow(-1px 2px 2px #121212);
}
.Art_CommentInput__3ddsP input {
  text-decoration: none;
  background-color: #202020;
  border: none;
  color: #ffffff;
  height: 1.5rem;
  width: 85%;
  margin: 0.1875rem;
}
.Art_CommentInput__3ddsP img {
  width: 1.40625rem;
  height: auto;
  margin: 0.234375rem;
  transition: 0.2s all;
  border-radius: 50%;
  opacity: 0.6;
}
.Art_CommentInput__3ddsP .Art_Send__TucvZ {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.40625rem;
  margin: 0.234375rem;
  width: 15%;
  background-color: #ffffff;
  opacity: 0.6;
  border-radius: 1rem;
}
.Art_CommentInput__3ddsP .Art_Send__TucvZ img {
  width: 1rem;
  height: auto;
  margin: 0.25rem;
}
.Art_CommentInput__3ddsP .Art_Send__TucvZ p {
  color: #121212;
}
.Art_CommentInput__3ddsP .Art_arrow__f9HEo {
  width: 1rem;
  height: 1rem;
  margin: 0.25rem;
  background-image: url("/Send_Black.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.Art_Send__TucvZ:hover {
  background-color: #202020;
  color: #ffffff;
  border-style: solid;
  border-color: #ffffff;
  box-sizing: border-box;
}
.Art_Send__TucvZ:hover p {
  color: #ffffff;
}
.Art_Send__TucvZ:hover .Art_arrow__f9HEo {
  background-image: url("/Send_White.png");
}

.Art_Link__FyvKG {
  color: #ffffff;
  text-decoration: none;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/ArtButton/ArtButton.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.ArtButton_ArtButton__S6DpA {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(49, 49, 49, 0.8);
  border-radius: 0.5rem;
  width: 6.25rem;
  height: 2.75rem;
  position: absolute;
  top: 90vh;
  left: 35%;
  z-index: 5;
}
.ArtButton_ArtButton__S6DpA img {
  aspect-ratio: 1/1;
  height: 2.125rem;
  width: auto;
  margin: 0.1875rem;
  transition: 0.2s all;
}

.ArtButton_ArtButton__S6DpA img:hover {
  opacity: 1;
  height: 2.375rem;
  width: auto;
  margin: 0.0625rem;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/ImgPlusText/IPT.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.IPT_IPT__HR0Za {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  color: #ffffff;
  text-decoration: none;
  opacity: 0.6;
}
.IPT_IPT__HR0Za img {
  width: 1.875rem;
  height: auto;
  margin: 0.3125rem;
  transition: 0.2s all;
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.IPT_IPT__HR0Za p {
  margin: auto;
  margin-right: 0.3125rem;
}
.IPT_IPT__HR0Za .IPT_a__n8EsW {
  color: #ffffff;
  text-decoration: none;
}

.IPT_IPT__HR0Za:hover {
  opacity: 1;
}
.IPT_IPT__HR0Za:hover img {
  width: 2.25rem;
  margin: 0.125rem;
}

.IPT_IPT_L__zpb_0 {
  display: flex;
  justify-content: center;
  font-size: 1.875rem;
  color: #ffffff;
  text-decoration: none;
  opacity: 0.6;
}
.IPT_IPT_L__zpb_0 img {
  width: 2.34375rem;
  height: auto;
  margin: 0.390625rem;
  transition: 0.2s all;
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.IPT_IPT_L__zpb_0 p {
  margin: auto;
  margin-right: 0.390625rem;
}
.IPT_IPT_L__zpb_0 .IPT_a__n8EsW {
  color: #ffffff;
  text-decoration: none;
}

.IPT_IPT_L__zpb_0:hover {
  opacity: 1;
}
.IPT_IPT_L__zpb_0:hover img {
  width: 2.8125rem;
  margin: 0.15625rem;
}

.IPT_IPT_S__c8oCn {
  display: flex;
  justify-content: center;
  font-size: 1.125rem;
  color: #ffffff;
  text-decoration: none;
  opacity: 0.6;
}
.IPT_IPT_S__c8oCn img {
  width: 1.40625rem;
  height: auto;
  margin: 0.234375rem;
  transition: 0.2s all;
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.IPT_IPT_S__c8oCn p {
  margin: auto;
  margin-right: 0.234375rem;
}
.IPT_IPT_S__c8oCn .IPT_a__n8EsW {
  color: #ffffff;
  text-decoration: none;
}

.IPT_IPT_S__c8oCn:hover {
  opacity: 1;
}
.IPT_IPT_S__c8oCn:hover img {
  width: 1.6875rem;
  margin: 0.09375rem;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/SubButton/SubButton.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.SubButton_Button__gKzu4 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #121212;
  font-size: 1.25rem;
  height: 60%;
  width: 35%;
  margin: 0.46875rem;
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 1rem;
  opacity: 0.6;
  filter: drop-shadow(-1px 2px 2px #121212);
}

.SubButton_Button__gKzu4:hover {
  background-color: #202020;
  color: #ffffff;
  border-style: solid;
  border-color: #ffffff;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/Comment/Comment.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Comment_Conteiner__4296_ {
  background-color: #202020;
  width: 97%;
  min-height: 3.75rem;
  margin: 1.5%;
  display: block;
  border-radius: 0.5rem;
  filter: drop-shadow(-1px 2px 2px #121212);
}

.Comment_ConteinerTop__GPVVv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #202020;
  height: 1.875rem;
  width: 100%;
  border-radius: 0.5rem;
  filter: drop-shadow(-1px 2px 2px #121212);
  font-size: 0.75rem;
}
.Comment_ConteinerTop__GPVVv p {
  opacity: 0.5;
}

.Comment_ConteinerInside__UZ6pf {
  height: auto;
  padding: 1.5%;
  opacity: 0.5;
}
