/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/Partfolio/Partfolio.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Partfolio_PBoard__GobOn {
  background-color: var(--bleck);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-content: center;
}
.Partfolio_PBoard__GobOn img {
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  float: left;
  overflow: hidden;
}

.Partfolio_Button__TDM0l {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #121212;
  font-size: 1.25rem;
  height: 1.5vw;
  width: 6vw;
  margin: 0.625rem;
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 0.5rem;
  opacity: 0.6;
  filter: drop-shadow(-1px 2px 2px #121212);
}

.Partfolio_Button__TDM0l:hover {
  background-color: #202020;
  color: #ffffff;
  border-style: solid;
  border-color: #ffffff;
}

.Partfolio_ButtonFix__Mhr4v {
  position: absolute;
  left: 46vw;
  top: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #121212;
  font-size: 1.25rem;
  height: 4vh;
  width: 8vw;
  margin: 0.625rem;
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 1rem;
  filter: drop-shadow(0px 2px 2px #121212);
}

.Partfolio_ButtonFix__Mhr4v:hover {
  background-color: #202020;
  color: #ffffff;
  border-style: solid;
  border-color: #ffffff;
}

.Partfolio_UpButton__2MDeD {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #121212;
  font-size: 1.25rem;
  height: 3.75rem;
  width: 15rem;
  margin-top: 1.25rem;
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 1rem;
  opacity: 0.6;
  filter: drop-shadow(-1px 2px 2px #121212);
}

.Partfolio_UpButton__2MDeD:hover {
  background-color: #202020;
  color: #ffffff;
  border-style: solid;
  border-color: #ffffff;
}

.Partfolio_Conteiner__ioOEW {
  display: flex;
  background-color: #202020;
  width: 23vw;
  height: 8.75rem;
  min-height: 6.25rem;
  padding: 0.625rem;
  margin: 1vw;
  margin-bottom: 0.625rem;
  margin-top: 0.625rem;
  border-radius: 0.5rem;
  border-color: #121212;
  border-style: solid;
  box-sizing: border-box;
  border-width: 0;
  filter: drop-shadow(0 0px 2px rgba(0, 0, 0, 0.7098039216));
  border-bottom-width: 3px;
}
.Partfolio_Conteiner__ioOEW .Partfolio_Right__HTUIl {
  width: 35%;
}
.Partfolio_Conteiner__ioOEW .Partfolio_Right__HTUIl img {
  border-radius: 0.5rem;
  height: auto;
  width: 90%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-color: #202020;
  border-style: solid;
  border-width: 0;
  filter: drop-shadow(0 0px 2px rgba(0, 0, 0, 0.7098039216));
  box-sizing: border-box;
  border-bottom-width: 3px;
}
.Partfolio_Conteiner__ioOEW .Partfolio_Left__tkC_g .Partfolio_Top__mvdAF {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  height: 40%;
}
.Partfolio_Conteiner__ioOEW .Partfolio_Left__tkC_g .Partfolio_Top__mvdAF p {
  color: #ffffff;
  opacity: 0.6;
  font-size: 1.25rem;
}
.Partfolio_Conteiner__ioOEW .Partfolio_Left__tkC_g .Partfolio_Bottom__mHKx1 {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Partfolio_IMG__U17dD img {
  height: 50px;
  width: 50px;
}

.Partfolio_ConteinerTop__6_r9D {
  background-color: #313131;
  height: 3.125rem;
  border-radius: 0.5rem;
  filter: drop-shadow(-1px 2px 2px #121212);
  font-size: 1.5rem;
  padding-left: 1.5%;
}
.Partfolio_ConteinerTop__6_r9D p {
  opacity: 0.6;
}

.Partfolio_ConteinerInside__reRQq {
  min-height: 2.5rem;
  margin: 0.625rem;
  margin-top: 0.875rem;
  opacity: 0.6;
  background-color: #313131;
  border-radius: 0.5rem;
  filter: drop-shadow(-1px 2px 2px #121212);
  display: flex;
  align-items: center;
  justify-content: center;
}
.Partfolio_ConteinerInside__reRQq input::placeholder {
  font-size: 1rem;
}
.Partfolio_ConteinerInside__reRQq input {
  text-decoration: none;
  background-color: #313131;
  border: none;
  color: #ffffff;
  height: 1.5rem;
  width: 99%;
  margin: 0.1875rem;
}

.Partfolio_ConteinerInside__reRQq input:focus {
  outline: none;
  box-shadow: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.Partfolio_Hide__ghrFZ {
  width: 0;
  height: 0;
  opacity: 0;
}

.Partfolio_Link__4gQO9 {
  color: #ffffff;
  text-decoration: none;
}

.Partfolio_Partfolio__PZjY5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Partfolio_ArtInfo__cXsc0 {
  z-index: 10;
  width: 40%;
  min-height: calc(100vh - 2.5rem);
  background-color: #202020;
  color: #ffffff;
  filter: drop-shadow(-2px 2px 2px #121212);
}
.Partfolio_ArtInfo__cXsc0 img {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.3125rem;
}

.Partfolio_MidBar__paFkO {
  width: 100%;
  height: 2rem;
  background-color: #313131;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: #202020;
  border-style: solid;
  border-width: 0;
  filter: drop-shadow(0 0px 2px rgba(0, 0, 0, 0.7098039216));
  border-bottom-width: 3px;
}
.Partfolio_MidBar__paFkO p {
  color: #ffffff;
  margin: 0.5rem;
  font-size: 1rem;
}

.Partfolio_Active__ITZgk {
  opacity: 1;
  text-decoration: underline solid #ffffff;
  text-underline-offset: 0.25rem;
  text-decoration-thickness: 0.1rem;
}

.Partfolio_Passive__qn08R {
  opacity: 0.6;
}

.Partfolio_ImgBoard__gMkX2 {
  background-color: var(--bleck);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
}
.Partfolio_ImgBoard__gMkX2 img {
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  float: left;
  overflow: hidden;
}

.Partfolio_EditForm__4ADwd {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.Partfolio_FConteiner__a7lMs {
  background-color: #202020;
  width: 40%;
  min-height: 6.25rem;
  padding-bottom: 0.25%;
  margin: 0;
  margin-top: 1.25rem;
  border-radius: 0.5rem;
  border-color: #121212;
  border-style: solid;
  box-sizing: border-box;
  border-width: 0;
  filter: drop-shadow(0 0px 2px rgba(0, 0, 0, 0.7098039216));
  border-bottom-width: 3px;
}
.Partfolio_FConteiner__a7lMs div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Partfolio_FConteiner__a7lMs div img {
  margin-top: 0.875rem;
  border-radius: 0.5rem;
  width: 80%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.Partfolio_FConteiner__a7lMs p {
  margin: 0;
}

.Partfolio_FConteinerTop__06kaJ {
  background-color: #313131;
  height: 3.125rem;
  border-radius: 0.5rem;
  filter: drop-shadow(-1px 2px 2px #121212);
  font-size: 1.5rem;
  padding-left: 1.5%;
  color: #ffffff;
}
.Partfolio_FConteinerTop__06kaJ p {
  opacity: 0.6;
}

.Partfolio_FConteinerInside__y3UI6 {
  min-height: 2.5rem;
  margin: 0.625rem;
  margin-top: 0.875rem;
  opacity: 0.6;
  background-color: #313131;
  border-radius: 0.5rem;
  filter: drop-shadow(-1px 2px 2px #121212);
  display: flex;
  align-items: center;
  justify-content: center;
}
.Partfolio_FConteinerInside__y3UI6 input::placeholder {
  font-size: 1rem;
}
.Partfolio_FConteinerInside__y3UI6 input {
  text-decoration: none;
  background-color: #313131;
  border: none;
  color: #ffffff;
  height: 1.5rem;
  width: 99%;
  margin: 0.1875rem;
}

.Partfolio_FConteinerInside__y3UI6 input:focus {
  outline: none;
  box-shadow: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.Partfolio_FixB__ckaM_ {
  position: absolute;
  width: 20vw;
  left: 40vw;
  top: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Partfolio_FixB__ckaM_ .Partfolio_ButtonF__1GTCl {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #121212;
  font-size: 1.25rem;
  height: 4vh;
  width: 10vw;
  margin: 0.625rem;
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 1rem;
  filter: drop-shadow(0px 2px 2px #121212);
}
.Partfolio_FixB__ckaM_ .Partfolio_ButtonF__1GTCl:hover {
  background-color: #202020;
  color: #ffffff;
  border-style: solid;
  border-color: #ffffff;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/components/Background/Background.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Background_BackImg__p_X9Y {
  background-color: #202020;
  width: 100%;
  height: 25vw;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/_next/static/media/Background.6efd3a2b.jpeg);
  display: flex;
  justify-content: center;
}
.Background_BackImg__p_X9Y p {
  font-size: 1.5rem;
  text-align: center;
  margin: 0.625rem;
  color: #121212;
}

.Background_Logo__7u1Mp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}
.Background_Logo__7u1Mp img {
  width: 3.75rem;
  height: auto;
  margin: 0.625rem;
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.Background_Logo__7u1Mp p {
  font-size: 2.5rem;
  margin: 0;
  color: #121212;
}

.Background_Content__WiO7S {
  padding-top: 3.75rem;
}

.Background_RightSite__lpPNY {
  min-height: 5rem;
  width: 40rem;
  margin: 0.4375rem;
  margin-right: 0.3125rem;
  opacity: 0.6;
  background-color: #313131;
  border-radius: 0.5rem;
  filter: drop-shadow(-1px 2px 2px #121212);
  display: flex;
  align-items: center;
  justify-content: center;
}
.Background_RightSite__lpPNY input::placeholder {
  font-size: 1rem;
}
.Background_RightSite__lpPNY input {
  text-decoration: none;
  background-color: #313131;
  border: none;
  color: #ffffff;
  height: 1.5rem;
  width: 99%;
  margin: 0.1875rem;
}
.Background_RightSite__lpPNY input:focus {
  outline: none;
  box-shadow: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.Background_RightSite__lpPNY input:hover {
  opacity: 0.9;
}

.Background_RightSite__lpPNY input:focus {
  opacity: 0.9;
}

.Background_Send__fhnCE {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  margin: 0.9375rem;
  width: 15%;
  background-color: #ffffff;
  opacity: 0.6;
  border-radius: 1rem;
}
.Background_Send__fhnCE img {
  width: 1rem;
  height: auto;
  margin: 0.25rem;
}
.Background_Send__fhnCE p {
  color: #121212;
}
